<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="ssm"></context:component-scan>

    <!-- 配置Thymeleaf视图解析器 -->
    <bean id="viewResolver"
          class="org.thymeleaf.spring5.view.ThymeleafViewResolver">
        <property name="order" value="1"/>
        <property name="characterEncoding" value="UTF-8"/>
        <property name="templateEngine">
            <bean class="org.thymeleaf.spring5.SpringTemplateEngine">
                <property name="templateResolver">
                    <bean
                            class="org.thymeleaf.spring5.templateresolver.SpringResourceTemplateResolver">
                        <!-- 视图前缀 -->
                        <property name="prefix" value="/WEB-INF/templates/"/>
                        <!-- 视图后缀 -->
                        <property name="suffix" value=".html"/>
                        <property name="templateMode" value="HTML5"/>
                        <property name="characterEncoding" value="UTF-8" />
                    </bean>
                </property>
            </bean>
        </property>
    </bean>

    <!--配置默认的servlet处理静态资源-->
    <mvc:default-servlet-handler/>

    <!--开启mvc的注解驱动
        当SpringMVC中设置任何一个view-controller时，其他控制器中的请求映射将全部失效，此时需
        要在SpringMVC的核心配置文件中设置开启mvc注解驱动的标签：
        <mvc:annotation-driven />
    -->
    <mvc:annotation-driven />

    <!--视图控制器-->
    <mvc:view-controller path="/" view-name="index"></mvc:view-controller>

    <!--配置文件上传解析器-->
    <!--<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"></bean>-->

    <!--拦截器-->
    <!--    <mvc:interceptors>-->
    <!--<bean class="spring.interceptor.FirstInterceptor"/>-->
    <!--        <mvc:interceptor>-->
    <!--            &lt;!&ndash;配置需要拦截的请求的请求路径，/**表示所有请求&ndash;&gt;-->
    <!--            <mvc:mapping path="/**"/>-->
    <!--            &lt;!&ndash;配置需要排除拦截请求的请求路径&ndash;&gt;-->
    <!--            <mvc:exclude-mapping path="/abc"/>-->
    <!--            &lt;!&ndash;配置拦截器&ndash;&gt;-->
    <!--            <ref bean="firstInterceptor"/>-->
    <!--        </mvc:interceptor>-->
    <!--        <ref bean="firstInterceptor"/>-->
    <!--        <ref bean="secondInterceptor"/>-->
    <!--    </mvc:interceptors>-->

    <!--异常处理 基于xml-->
<!--    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">-->
<!--         <property name="exceptionMappings">-->
<!--             <props>-->
<!--               key设置要处理的异常，value设置出现该异常时要跳转的页面所对应的逻辑视图-->
<!--                 <prop key="java.lang.ArithmeticException">error</prop>-->
<!--             </props>-->
<!--         </property>-->
<!--           设置共享在请求域中的异常信息的属性名-->
<!--        <property name="exceptionAttribute" value="ex"></property>-->
<!--    </bean>-->
</beans>